body{
	margin: 0;
	padding: 0;
	background-color: #014051;
}

.metro{
	width: 1400px;
	margin: 50px;
	height: auto;
}

.metroRow{
	padding: 0;
	margin: 0;
	display: table;
}

.metroBlock{
	float:left;
	width: 200px;
	height: 200px;
	padding: 5px;
	margin: 0 5px 5px 0;
}

.metroOrange{
	color:white;
	background-color: #DA522A;
}

.metroGreen{
	color:white;
	background-color: #009F1B;
}

.metroBlue{
	color:white;
	background-color: #2A86EB;
}

.metroDarkCyan{
	color:white;
	background-color: #0099AB;
}

.metroRed{
	color:white;
	background-color: #BC1D46;
}

.metroPurple{
	background-color: #9B03A6;
	color: white;
}

.clear{
	clear:both;
}