header{
	height: 80px;
	background-color: #222;
}

.logo{
	float: left;
}

.logo img{
	max-height: 95%;
	position: relative;
	top: 3px;
	margin-right: 10px;
}

ul.metroNavi{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.metroNavi li{
	float: left;
}

ul.metroNavi li a{
	color:#fff;
	display: block;
	height: 60px;
	padding: 10px;
	line-height: 60px;
	text-decoration: none;
	text-shadow:1px 1px 4px #fff;
}

ul.metroNavi li a:hover{
	background-color: orange;
	text-shadow:1px 1px 7px #000;
}

.search{
	line-height: 80px;
	float: right;
	margin-right:10px;
}

.search img{
	max-height:100%;
}

.search button{
	position: relative;
	top:4px;